<div class="content align-items-center justify-content-center">
    <div class="box">
        <div class="text-center">
            <h2>Réinitialiser le mot de passe</h2>
            <h5>Bienvenue sur notre plateforme Ragnarök</h5>
        </div>
        <div>
            <form class="marg center-form">
                <div class="form-group text-left">
                    <label for="InputEmail">E-mail</label>
                    <input type="email" class="form-control" id="InputEmail" aria-describedby="emailHelp">
                </div>
                <button type="submit" class="btn btn-primary btn-lg btn-grad simple-marg">Confirmer</button>
            </form>
        </div>
    </div>
</div>
