<div class="content align-items-center justify-content-center">
    <div class="box">
        <div class="text-center">
            <h2>Se connecter</h2>
            <h5>Bienvenue sur notre plateforme Ragnarök</h5>
        </div>
        <div>
            <form class="marg center-form">
                <div class="form-group text-left">
                    <label for="InputEmail">E-mail</label>
                    <input type="email" class="form-control" id="InputEmail" aria-describedby="emailHelp">
                </div>
                <div class="form-group text-left">
                    <label for="InputPassword">Mot de passe</label>
                    <input type="password" class="form-control" id="InputPassword">
                </div>
                <button type="submit" class="btn btn-primary btn-lg btn-grad simple-marg">Se connecter</button>
                <br>
                <div class="form-group text-center">
                    <label><a routerLink="/password">Mot de passe oublié ?</a></label>
                </div>
            </form>
        </div>
    </div>
</div>
