<div style="background-color: white;width: 500px;height: 400px;margin: auto;position: absolute;
top:0;
bottom: 0;
left: 0;
right: 0;
text-align: center;-moz-box-shadow: 0 0 25px #000;
-webkit-box-shadow: 0 0 25px #000;
box-shadow: 0 0 25px #000;">
    <div style="padding-top: 50px;">
        <h2>Sign in</h2>
        <br>
        <form #connectionForm="ngForm" >
            <mat-form-field appearance="fill" style="width: 92%;">
                <mat-label>Email</mat-label>
                <input name="email" ngModel matInput placeholder="pat@example.com">
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill" style="width: 92%;" >
                <mat-label>Enter your password</mat-label>
                <input name="password" ngModel matInput [type]="hide ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
            <br>
            <br>
            <button type="submit" class="btn btn-primary btn-lg btn-block" style="width: 92%;margin:0 auto;
            display:block;">Sign in</button>
        </form>
    </div>
</div>